
* {
    font-family: 'Raleway', sans-serif;
}

.colored-column {
    background-color: rgb(7, 22, 98);
    width: 450px;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0; 
    z-index: -1; 
}

.button-margin {
    margin: 0 10px; 
}

.search-button {
    margin: 0 10px; 
}

.Grados {
    text-align: center;
    margin-top: 50%;
    color: white;
    font-size: 70px; 
}

.image-container2{
    text-align: center;
    
}


.grib {
    margin-left: 500px;
    margin-top: 80px;
    width: 50%;
  }
  

  .centered-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
  }
  